body {
    /*margin-left: 10%;*/
    
    font-family: "Raleway", sans-serif;;
    font-style: normal;
    overflow: hidden;
    color: rgba(0,0,0,.85);
    margin: 0px;
    display: flex;
    box-sizing: border-box;
}
#drug-viz-circle {
  width: 100%;
  position: relative;
}
svg {
  width: 100%;
  height: 100%;
}
#drug-search {
  background-image: url('../img/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 452px; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 10px 8px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 5px; /* Add some space below the input */
}

#selected-drugs {
  border-bottom: 1px #ddd solid;
  padding-bottom: 10px;
}
.drug-list {
  /* Remove default list styling */
  list-style-type: none;
  width: 470px;
  padding: 0;
  margin: 0;
}

.drug-list li {
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: 15px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 7px 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: inline-block; /* Make it into a block element to fill the whole list */
  padding-right: 25px;
  border-radius:25px;
  opacity: 1;
}

.drug-list li:hover {
  opacity: 0.6;
  color: #eee;
  transition-duration: 0.5s;
}

#scroll-list {
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#scroll-list:hover {
  overflow-y: auto;
}

.links line {
  stroke: #666;
}

h1 {
    font-weight: 300;
}
.column {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#left {
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
    width: 10%;
    padding-top: 100px;
    padding-top: 60px;
    margin:0px 20px;
}

#left h1 {
    font-style: italic;
}

.header {
    flex-shrink: 0;
    display: inline-flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.header ul {
 display: flex;
 flex-flow: row wrap;
 list-style-type: none;
 padding-inline-start: 0px;
 display: inline-flex;
 list-style: none;
}

.header ul li {
 padding: 0 1.4em 0 0;
 font-size: 1.5em;
}


.sidebar {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
}

.content {
    width: 100%;
    height:100%;
}

.text {
  width: 1000px;
}
#right {
    width: 100vw;
}

.main::-webkit-scrollbar { 
       display: none; 
}

h2 {
    position: rellative;
}

h2 span {
    position: absolute;
    top:-50px;
}
.main {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/    
    height: 100%;
}

#results-viz {
  display: flex;
  height:1000px;
}

#drug-info {
  width: 550px;
}

a {
    text-decoration: none;
    position: relative;
    color: rgba(0,0,0,.85);
    bottom: 0px;
    -webkit-transition: .1s linear bottom;
    -moz-transition: .1s linear bottom;
    transition: .1s linear bottom;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0px; 
  left: 1px;
  width: 100%;
  height: 1px;
  background: #717171;
  -webkit-transform-origin: left center;
  -webkit-transition: .075s linear all;
  -moz-transition: .075s linear all;
  transition: .075s linear all;
}

.drug-list li a:after {
  height: 0px; /* Add a hover effect to all links, except for headers */
}

a:hover {
  cursor: pointer;
  bottom: 1px;
}

 a:hover::after {
  height: 2px;
  bottom: 1px;
  background: rgba(255,13,5,1);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
  cursor: pointer;
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
  cursor: pointer;
}

a:nth-of-type(2):hover::after {
  background: rgba(255,228,50,1);
}
a:active {
    top: 1px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /*min-width: 230px;*/
  border: 1px solid #ddd;
  z-index: 1;
  padding: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}