<!DOCTYPE html>
<html lang="en">
<head>
    <title>FDAnalyzer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{url_for('static',filename='ico/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css') }}">
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src = "{{url_for('static', filename='js/index.js')}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300, 700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body onload="loadViz();">

<div id = "left" class = "column">
    <div class = 'sidebar'>
        <h1>TLDR</h1>
        <p> We're studying <span style="color: rgba(255,13,5,1)">Adverse Drug Events</span></p>
        <p> We're using data from the <span style="color: rgba(255,13,5,1)">FDA Adverse Events Reporting System</span></p>
        <p> We cured <span style="color: rgba(255,13,5,1)">cancer </span></p>
    </div>
</div>

<div id = "right" class = "column">

    <div class = 'header'>
        <ul>
         <li><a onclick="scrollToElem('Motivation');">Motivation</a></li>
         <li><a onclick="scrollToElem('Questions');">Research Questions</a></li>
		 <li><a onclick="scrollToElem('Data');">Datasets</a></li>
		 <li><a onclick="scrollToElem('Cleaning');">Getting Clean</a></li>
         <!--<li><a onclick="scrollToElem('Process');">Data Mining</a></li>-->
         <li><a onclick="scrollToElem('Results');">Results</a></li>
       </ul>
    </div>

    <div class = 'main'>
        <div class = 'content'>
            <div class = 'text' >
                <h1>FDAnalyzer</h1>
                <h2 id = "Motivation">Why does anyone care? </h2>
                <p> <span style="color: rgba(255,13,5,1)">Adverse drug events (ADEs)</span>, i.e., unintended pharmacologic effects, are a major source of concern when determining what medicine a patient needs. The study of the detection, understanding, and prevention of adverse events in order to promote and maintain drug safety is known as <span style="color: rgba(255,13,5,1)">pharmacovigilance (PhV)</span>. </p>

                <p>To support the goals of pharmacovigilance, data mining techniques can provide insights into the sources and causes behind these adverse events so that healthcare professionals and responsible consumers can make better-informed choices when prescribing drugs or purchasing over-the-counter medicine, respectively.</p>

                <h2 id = "Questions">What are we trying to find out? </h2>
                <p>Are certain groups prone to adverse effects from similar drugs or drug components?</p>
                <p>What adverse events are associated with different drug components? Are any of them unexpected?</p>
                <p>Can we discover adverse events caused by drug interactions?</p>
                <p>Can we predict what drugs or drug components caused a patient's adverse events given the events and the patient's demographics?</p>
                <p>Can we develop an effective visualization to communicate our findings without sensationalizing them or misleading people?</p>
                
                <!--<p> We used data from the <span style="color: rgba(255,13,5,1)">FDA Adverse Events Reporting System (FAERS).</span></p>
                <p>You can find the dataset here: <a href="https://open.fda.gov/data/faers/">FAERS DATA</a></p>
				-->
				<h2 id="Data"> Where did we get our data? </h2>
				<p>Using the <a href="https://open.fda.gov/data/faers/">FDA Adverse Event Reporting System (FAERS)</a> dataset, we investigate if there are any underlying patterns to the reported adverse events with respect to the drugs taken, their components, and the symptoms experienced. This dataset supports the FDA’s goals of promoting and maintaining drug safety, i.e., pharmacovigilance. It is updated every 3 months with reports from health professionals, e.g., physicians and pharmacists, and non-health professionals, e.g., lawyers and consumers. The dataset contains over 10,000,000 adverse events from 2004 onwards.</p>
				<p>Adverse events refer to when a drug causes an unexpected negative symptom. The key word ‘unexpected’ is what differentiates them from side effects which are known and predictable. They can occur due to interacting with another drug in the patient’s system or simply because the patient had a complication with the drug.</p>
                <p>Each entry in the FAERS dataset corresponds with an event. Events have a patient, a primary source, and flags on how serious the event was. Patients have lists of drugs, reactions, and personal information. Event seriousness contains the following flags: death, congenital anomaly, disabling, hospitalization, life threatening, and other. Details about the drugs include but are not limited to: administration route, drug characterization (role of drug in event), cumulative dosage, start and end dates for taking the drug, drug name, brand name, generic name(s), manufacturer name, and active ingredients. Patient information can include age, if they died, sex, and weight. The event’s records may be incomplete, missing any amount of the aforementioned fields.</p>
				<br>
				<p>The National Drug Code (NDC) Directory contains the listings of all the drugs approved by the FDA. Information about each drug includes but is not limited to: product type (over-the-counter or prescription), route, dosage form, brand name, generic name(s), manufacturer name, labeler name, and active ingredients and their respective strengths.</p>
				<p>Brand names combined with dosage form uniquely identify each drug. Functionally, each drug is identified by its brand name (though the name may not be informative without the generic name information and/or active ingredients). </p>
				<p>Multiple generic names can be associated with a brand name. Often times these generic names will overlap with the active components of the drug. However, the generic names are not unique to a set of components, so a generic name alone generally will not reveal the drug taken.</p>
				<p>There are 205,302 different drug entries in the NDC data. Within these entries, there are 16,828 generic names (8,144 unique) and 33,309 brand names (15,338 unique). The repetitions generally come from the same drug being listed with every dosage and/or route it is sold in. 178,555 of the drug entries have both a brand name and generic names listed; there are 84,241 brand name and generic name pairs (61,586 unique). 173,528 of the drug entries have listed a brand name, generic name(s), and their components.</p>
				<!--<h2 id = "Process">What did we do?</h2>
                <p>To gain insights into the causes of ADEs, we will use both association rule mining and clustering methods to find unexpected relationships in the data. Our first milestone focuses on data cleaning to convert the data into a format where we analyze the ADEs, the drugs taken, the drugs' components, and the patients' demographics. Then, the second milestone focuses on the data analysis. The association rule mining will look for associations between the combination of patient demographics and drugs to predict ADEs. In a similar fashion, we want to encode the patients' demographics and symptoms, apply clustering methods, and determine if the clusters have similar associated drugs. Our third milestone involves predicting the drug that caused an ADE given a patient's symptoms and demographics and visualizing our findings. We intend to use sklearn packages to create our classifier. </p>
				-->
				<h2 id="Cleaning">Getting Clean</h2>
				<p>Because both the FAERS and NDC data come from the NDC, we thought that the adverse events reported were required to do so in terms of the drugs in the NDC. However, it turned out that event reporting is completely unconstrained. The NDC data is well formatted. The FAERS data is clearly crowd-sourced. Example issues include:
				<ul>
					<li>Not including the full name of the drug</li>
					<li>Adding special characters, e.g., ?</li>
					<li>Including the dosage in the drug name</li>
					<li>Not knowing the drug’s name</li>
					<li>Simply not being a drug in the dataset</li>
					<li>Being in another language</li>
					<li>Vague name, e.g., steroid, antidepressant</li>
					<li>Being poorly formatted</li>
					<li>Containing the wrong field</li>
				</ul>
				Some examples illustrating the above issues:
				<ul>
					<li>zicam nasal spray  i threw it away</li>
					<li>Have so many don’t know where list is right now</li>
					<li>Many medications – patient did not wish to provided at this time</li>
					<li>b.c</li>
					<li>edvil</li>
					<li>no energy coughing</li>
					<li>gatorade energy drink</li>
				</ul>
				</p>
				
				<p>As a result, we had to choose how we wanted to interpret the reports to handle these “missing” drugs. We wanted to keep as much of the data as possible, but we also could not keep events that contained unknown drugs. We put the data through some basic preprocessing steps, e.g., making all the text lowercase, to avoid missing known entries due to case sensitivity. If the reported drug did not have an exact match in our data, we used a series of regular expression patterns to extract the drug names based off commonly observed patterns in the reports. For example, some would put the generic name followed by the brand name in parentheses, so that became a pattern. Because drug names can contain multiple words, most of the patterns would involve extracting text around special characters to avoid the possibility of splitting drug names apart, e.g., extracting calcium from calcium sulfate.</p>
				<p>First, we wanted to focus on just the generic names because we found the active ingredients of the drug to be more important than the exact brand of drug taken. However, because generic names, unsurprisingly, generally do not provide enough information to identify the drug taken, we would not know exactly which drug entry in the NDC dataset to associate it with. Generic names did not uniquely map back to the same list of active ingredients, so this information loss would negatively impact our conclusions.</p>
				<p>The next approach was to focus on the brand names as some of the “brand” names were actually generic drug names, i.e., were just the name of the active ingredients. Brand names are the unique identifiers in the NDC dataset, after all, so this approach had the least information loss or risk of making assumptions on what the event reported. However, this revealed the downside that some of the different brand names were extremely similar, e.g., all the variations of basic, pure-acetaminophen Tylenol.</p>
				<p>Our solution to this pair of problems was to recognize drugs as sets of components instead of as a brand name or a generic name. There are 10,836 sets of components among all 33,309 brand names, generalizing the drugs into their active ingredients like we originally planned to. If a reported drug matched one of the known brand names, the components associated with that brand name would be added as part of our cleaned event. If there was no match, we would check if the reported drug was a known component set.</p>
				
				
				<h2> Recognizing Bias </h2>
				<p>For our purposes, we focused on events that had multiple different drugs to analyze events that potentially contained negative drug interactions. Originally, we wished to predict the possibility of an adverse event occurring based off this data due to its size. However, we later shifted our perspective to making this information more accessible via developing visualizations as we do not have data to determine how common these adverse events are. Predictions based off this data alone would be highly susceptible to survivorship bias, ironically.</p>
				
				
			</div>
            <h2 id= "Results">What did we find? </h2>

            <div id = "results-viz">
                <div class="dropdown" id = "drug-info">
                    <input type="text" onclick = "showSearch()" id="drug-search" onkeyup="filterSearch()" placeholder="Search for drugs.." title="Type in a drug">
                    <div id="search-dropdown" class="dropdown-content">
                        <div id = "selected-drugs">
                            <ul class = "drug-list" id="selected-drugs-list">
                        </div>
                        <div id="scroll-list">
                            <ul class = "drug-list" id="unselected-drug-list">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id = "drug-viz-circle">
                    <svg id = "drug-viz-circle-svg"></svg>
                </div>
                <!-- <div id = "event-table">
                    <ul class="collection">
                      <li class="collection-item">Alvin</li>
                      <li class="collection-item">Alvin</li>
                      <li class="collection-item">Alvin</li>
                      <li class="collection-item">Alvin</li>
                    </ul>
                </div> -->

            </div>
            <svg id = "drug-viz-network" width = "960" height="500"></svg>
        </div>
    </div>
</div>
</body>
</html>